body {
	padding-top: 20px;
}
.delete-item {
	position: absolute;
	top: 0;
	right: 0;
}
.accordion-item {
	border-bottom: 2px dashed #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}
.add-new-wrapper {
	border-bottom: 2px dashed #ccc;
	padding-bottom: 20px;
}
.clear-both {
	clear: both;
}
.accordion-preview-wrapper {
	display: none;
}
.panel-heading {
	padding: 0;
}
.panel-heading a {
	padding: 10px 15px;
	display: block;
}
.panel-title i {
	float: right;
}